<title>Uavdocx Inicio</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<div class="announcement-bar">
  <div class="announcement-track">
    <span *ngFor="let oferta of ofertas; let i = index" [style.animation-delay]="(i * 4) + 's'">
      {{ oferta }}
    </span>
  </div>
</div>

<nav class="navbar">
  <div class="navbar-container navbar-column">
    <a href="/" class="navbar-logo">
      UAVDOCX
    </a>
    <div class="navbar-menu">
      <a href="/">Inicio</a>
      <a href="/productos">Productos</a>
      <a href="./login">Sesion</a>
      <a *ngIf="usuarioLogueado" href="./abm">ABM</a>
    </div>
    <div class="logos">
      <a href="/carrito" class="material-symbols-outlined">shopping_cart</a>
      <a href="/usuario" class="material-symbols-outlined">person</a>
    </div>
  </div>
</nav>
<main>
  <div class="carrusel-container">  
    <button class="carrusel-btn carrusel-btn-prev" (click)="cambiarImagen(-1)">&#10094;</button>
    <img 
      [src]="imagenCarrusel[imagenActual]" 
      alt="Imagen carrusel" 
      class="carrusel-img"
      [ngClass]="{ 'slide-enter': animando, 'slide-enter-active': animando, 'slide-exit': !animando }"
      (load)="animando = false"
    />
    <button class="carrusel-btn carrusel-btn-next" (click)="cambiarImagen(1)">&#10095;</button>
  </div>


    <div id="prendas-container">
  <div class="prenda-card" *ngFor="let prenda of prendasFiltradas" >
      <div class="prenda-imagen">
        <img *ngIf="prenda.imagen" [src]="prenda.imagen" alt="Imagen de la prenda" class="imagen-prenda">
      </div>
      <div class="prenda-info">
        <h3>{{ prenda.nombre }}</h3>
        <p><strong>Precio:</strong> ${{ prenda.precio }}</p>
      </div>
    </div>
    
  </div>  
</main>




<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <div>
        <p class="titulo-footer">AYUDA</p>
        <p>Preguntas Frecuentes</p>
        <p>Política de Privacidad</p>
        <p>Terminos y Condiciones</p>
      </div>
      <div>
        <p class="titulo-footer">UAVDOCX</p>
        <p>Inicio</p>
        <p>Local</p>
      </div>
      <div>
        <p class="titulo-footer">CONTACTO</p>
        <p>+54 9 11 2688-3073</p>
        <p>uavdocx.gmail.com</p>
        <p>Provincia de Buenos Aires</p>
      </div>
    </div>
      <span class="footer-text">© 2025 UAVDOCX. Todos los derechos reservados.</span>
  </div>
</footer>

