<title>Uavdocx Inicio</title>

<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">
      UAVDOCX
    </a>

    <div class="navbar-menu">
      <a href="/">Inicio</a>
      <a href="/productos">Productos</a>
      <a href="/login">Iniciar Sesión</a>
      <span *ngIf="usuarioLogueado">| {{ usuarioLogueado }}</span>
      <a href="/abm">ABM</a>
    </div>


  </div>
</nav>



<div class="carrusel-container">
  <div class="carrusel">
    <button class="carrusel-btn left" (click)="anteriorImagen()">&#10094;</button>
    <img [src]="imagenesCarrusel[imagenActual]" alt="Carrusel" class="carrusel-img">
    <button class="carrusel-btn right" (click)="siguienteImagen()">&#10095;</button>
  </div>
  <div class="carrusel-indicadores">
    <span 
      *ngFor="let img of imagenesCarrusel; let i = index" 
      [class.activo]="i === imagenActual"
      (click)="irAImagen(i)">
    </span>
  </div>
</div>

