<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=straighten" />

<div class="producto-detalle-container">
	<div *ngIf="cargando">Cargando producto...</div>
	<ng-container *ngIf="!cargando && producto; else noProducto">
        <div>
                    <img *ngIf="producto.imagen" [src]="producto.imagen" alt="Imagen de la prenda">

        </div>
        <div>
            		<h1 id="nombre">{{ producto.nombre }}</h1>
		<p> ${{ producto.precio }}</p>
		    <div>
                <strong>Talle</strong>
                <ul>
                    <li *ngFor="let talle of (producto.talles | keyvalue)">
                        {{ talle.key }}: {{ talle.value }} unidades
                    </li>
                </ul>
		    </div>
            <div class="guia-talles-container" (click)="abrirGuiaTalles()" tabindex="0" role="button" aria-label="Guía de talles">
                <span class="material-symbols-outlined">straighten</span>
                <span class="guia-talles-text">Guía de talles</span>
            </div>
            <div *ngIf="mostrarGuiaTalles" class="popup-overlay" (click)="cerrarGuiaTalles()">
                <div class="popup-content" (click)="$event.stopPropagation()">
                    <img src="https://acdn-us.mitiendanube.com/stores/001/596/994/products/campera-melo-fc909d79cf0e9e138017562155646530-1024-1024.jpg" style="max-width:100%;max-height:80vh;">
                    <button class="cerrar-popup" (click)="cerrarGuiaTalles()">Cerrar</button>
                </div>
            </div>
            <button (click)="agregarAlCarrito()">Agregar al carrito</button>
            <button class="volver" (click)="volver()">Volver</button>
        </div>
	</ng-container>
	<ng-template #noProducto>
		<div class="no-producto">No se encontró el producto.</div>
	</ng-template>
</div>