<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=delete" />
<h1>Compra</h1>


<ul>
  <li class="producto"*ngFor="let item of carrito">
    <span>{{ item.id }}</span>
    <div class="cantidad-container">
      <span class="cantidad-borde">
      <span>{{ item.cantidad }}</span>
      </span>
    </div>
    <span>${{ item.cantidad * item.precio }}</span>

  </li>
</ul>



<div class="resumen">
  <div class="envio-opciones">
    <div class="envio-item">
      <p class="envio-titulo">Medios de envio</p>
      <input type="text" placeholder="Ingrese su codigo postal" class="envio-input" />
      <button>+</button>
    </div>
    <div class="envio-item local">
  <p class="envio-titulo">Nuestro Local</p>
  <div class="local-checkbox-info">
<input type="checkbox" id="localCheck" [(ngModel)]="envioLocal" (change)="calcularEnvio()"/>
    <label for="localCheck" class="local-info">
      Uavdocx - Store - 3014 Catamarca - Quilmes<br>
      Horarios de atencion: Lun a Vie de 8:30 - 16:30 hs<br>
      Sábado de 9:00 - 14:00 hs
    </label>
  </div>
</div>
  </div>
  <div>
    <p *ngIf="carrito.length" class="subtotal">Subtotal: ${{ precioTotal }}</p>
    <p class="envio">Envío: ${{ envio }}</p>
    <p *ngIf="carrito.length" class="total">Total: ${{ precioTotal + envio }}</p>
    <p *ngIf="!carrito.length && usuarioLogueado">El carrito está vacío.</p>
    <p *ngIf="!usuarioLogueado">Inicia Sesion para tener carrito</p>
  </div>