
<img class="imagen-principal"src="https://cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/VTILLSQRLNA23BKGW5R3RI7CDA.JPG">
<div class="datos">
    <div>
        <h2>Provincia de Buenos Aires</h2>
        <p>Direccion: San Jose 1111</p>
        <p>Horarios: 9:30 hrs a 11:00 hrs</p>
        <p>Telefono: 223 456 7890</p>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6566.638717577105!2d-58.38584593716038!3d-34.62136904485375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5416b28e3f7%3A0xc42e0f6e218208d4!2sSan%20Jos%C3%A9%201111%2C%20C1076AAW%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1758627756739!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
</div>