<div *ngIf="esAdmin">
<div class="compras-container">
  <h2>Listado de Compras</h2>
  <button class="btn-pendiente"(click)="verificarPendientes()">Verificar Compras Pendientes Antiguas</button>
  <table *ngIf="compras.length > 0; else sinCompras">
    <thead>
      <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Fecha Entrega</th>
        <th>Email</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compra of compras">
        <td>{{ compra.id }}</td>
        <td>${{ compra.total }}</td>
        <td>
          <select [(ngModel)]="compra.estado" [disabled]="compra.estado === 'cancelada'">
    <option value="pendiente">PENDIENTE</option>
    <option value="pagada">PAGADA</option>
    <option value="cancelada" disabled>CANCELADA</option>
    <option value="entregada">ENTREGADA</option>
</select>
        </td>
        <td>{{ compra.fecha | date:'short' }}</td>
        <td>
  <ng-container *ngIf="compra.fechaEntrega; else inputFecha" >
    {{ compra.fechaEntrega | date:'short' }}
  </ng-container>
  <ng-template #inputFecha>
    <input
    [disabled]="compra.estado === 'cancelada'"
      type="datetime-local"
      [ngModel]="compra.fechaEntrega ? (compra.fechaEntrega | date:'yyyy-MM-ddTHH:mm') : null"
      (ngModelChange)="onFechaEntregaChange(compra, $event)"
    />
  </ng-template>
</td>
        <td>{{ compra.email }}</td>
        <td>{{ compra.direccion }}</td>
        <button (click)="modificarCompra(compra)">Modificar</button>
        <button *ngIf="compra.estado !== 'cancelada'" (click)="mostrarTooltip(compra)">Cancelar</button>
        <div *ngIf="compra.mostrarTooltip" class="tooltip-overlay">
          <div class="tooltip-confirmacion">
            <span>¿Está seguro que desea cancelar la compra?</span>
            <button (click)="cancelarCompra(compra)">Sí, cancelar</button>
            <button (click)="ocultarTooltip(compra)">No</button>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
<div *ngIf="total > limit" class="paginacion-modern">
  <button class="pag-btn" (click)="cambiarPagina(page - 1)" [disabled]="page === 1">&#8592;</button>
  <span class="pag-info">Página <strong>{{ page }}</strong> de <strong>{{ totalPaginas() }}</strong></span>
  <button class="pag-btn" (click)="cambiarPagina(page + 1)" [disabled]="page === totalPaginas()">&#8594;</button>
</div>
  <ng-template #sinCompras>
    <p>No hay compras registradas.</p>
  </ng-template>
</div>
</div>