<div *ngIf="esAdmin">
<div class="compras-container">
  <h2>Listado de Compras</h2>
  <table *ngIf="compras.length > 0; else sinCompras">
    <thead>
      <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Fecha Entrega</th>
        <th>Email</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compra of compras">
        <td>{{ compra.id }}</td>
        <td>${{ compra.total }}</td>
        <td>
          <select [(ngModel)]="compra.estado">
            <option value="pendiente">PENDIENTE</option>
            <option value="pagada">PAGADA</option>
            <option value="cancelada">CANECELADA</option>
            <option value="entregada">ENTREGADA</option>
          </select>
        </td>
        <td>{{ compra.fecha | date:'short' }}</td>
        <td>
  <ng-container *ngIf="compra.fechaEntrega; else inputFecha">
    {{ compra.fechaEntrega | date:'short' }}
  </ng-container>
  <ng-template #inputFecha>
    <input
      type="datetime-local"
      [ngModel]="compra.fechaEntrega ? (compra.fechaEntrega | date:'yyyy-MM-ddTHH:mm') : null"
      (ngModelChange)="onFechaEntregaChange(compra, $event)"
    />
  </ng-template>
</td>
        <td>{{ compra.email }}</td>
        <td>{{ compra.direccion }}</td>
        <button (click)="modificarCompra(compra)">Modificar</button>
      </tr>
    </tbody>
  </table>
  <ng-template #sinCompras>
    <p>No hay compras registradas.</p>
  </ng-template>
</div>
</div>