body, :host {
  background: linear-gradient(120deg, #f8f8f8 60%, #e3f0ff 100%);
  min-height: 100vh;
}

#resetBox {
  background-color: #c0c0c049;
  max-width: 400px;
  margin: 100px auto 0 auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.navbar {
  background-color: #000000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0%;
  z-index: 1000;
  margin: 0;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-logo {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  margin: 0 auto 4px auto;
  text-align: center;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 20px;
}

.navbar-menu a, .navbar-container > span {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  margin-left: 0;
  margin-right: 0;
}

.navbar-menu a:hover {
  color: #007bff;
}

.navbar-container > span {
  text-align: center;
}