<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">
      UAVDOCX
    </a>

    <div class="navbar-menu">
      <a href="/">Inicio</a>
      <a href="/productos">Productos</a>
      <a href="./login">Sesion</a>
      <a *ngIf="usuarioLogueado" href="./abm">ABM</a>
    </div>

    <div class="group">
      <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
        <g>
          <path
            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
          ></path>
        </g>
      </svg>

      <input
        id="query"
        class="input"
        type="text"
        placeholder="Buscar..."
        name="searchbar"
        [(ngModel)]="busqueda" (input)="realizarBusqueda()"
      />
      <span *ngIf="usuarioLogueado"> {{ usuarioLogueado }}</span>
    </div>
  </div>
</nav>

<main>
  <div class="encabezado">
    <h1>Productos</h1>
    <div class="filtrar">
      <button id="filtrar-txt" (click)="toggleFormulario()">FILTRAR</button>
      <span class="material-icons" (click)="toggleFormulario()">list</span>
    </div>
<div class="filtros" *ngIf="mostrarFiltro">
  <div class="filtros-fila">
    <div class="filtro-bloque">
      <label for="precioMinimo">Precio</label>
      <div class="filtro-precios">
        <input type="number" id="precioMinimo" placeholder="Desde" [(ngModel)]="precioMinimo">
        <input type="number" id="precioMaximo" placeholder="Hasta" [(ngModel)]="precioMaximo">
      </div>
    </div>
    <div class="filtro-bloque">
      <label for="categoria">Tipo</label>
      <select [(ngModel)]="categoriaFiltrar" id="categoria">
        <option value="" disabled selected hidden>Tipo</option>
        <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
      </select>
    </div>
    <button id="aplicar" (click)="filtrar()">Aplicar</button>
    <button id="aplicar" (click)="limpiarFiltro()">Restablecer</button>
  </div>
</div>
  </div>

  <div id="prendas-container">
  <div class="prenda-card" *ngFor="let prenda of prendasFiltradas" (click)="verProducto(prenda.id)">
      <div class="prenda-imagen">
        <img *ngIf="prenda.imagenPrincipal" [src]="prenda.imagenPrincipal" alt="Imagen de la prenda" class="imagen-prenda">
      </div>
      <div class="prenda-info">
        <h3>{{ prenda.nombre }}</h3>
        <p><strong>Precio:</strong> ${{ prenda.precio }}</p>
      </div>
    </div>
    
  </div>  

  <div class="paginacion">
    <ng-container *ngFor="let page of [].constructor(totalPaginas); let i = index">
      <button 
        class="pagina-btn" [class.activa]="paginaActual === (i+1)"
        (click)="irAPagina(i+1)">
        {{ i+1 }}
      </button>
    </ng-container>
  </div>
</main>

<footer class="footer">
  <div class="footer-container">
    <span class="footer-logo">UAVDOCX</span>
    <span class="footer-text">© 2025 UAVDOCX. Todos los derechos reservados.</span>
    <div class="footer-links">
      <a href="/" class="footer-link">Inicio</a>
      <a href="/productos" class="footer-link">Productos</a>
      <a href="/login" class="footer-link">Sesión</a>
      <a href="/abm" class="footer-link">ABM</a>
    </div>
  </div>
</footer>
