<div *ngIf="!esAdminUsuario">
  <h2 style="color: red;">No, solo los administradores pueden acceder a esta sección.</h2>
</div>
<div *ngIf="esAdminUsuario">

  <h1>Usuarios</h1>
  <div class="usuarios-lista">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Verificado</th>
          <th>Admin</th>
          <th>Creado</th>
          <th>Actualizado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.usuario }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.verificado ? 'Sí' : 'No' }}</td>
          <td>{{ usuario.admin ? 'Sí' : 'No' }}</td>
          <td>{{ usuario.createdAt }}</td>
          <td>{{ usuario.updatedAt }}</td>
          <td class="opciones">
            <button (click)="cambiarVerificado(usuario.id)">Cambiar Verificado</button>
            <button (click)="cambiarAdmin(usuario.id)">Cambiar Admin</button>
            <button (click)="mostrarConfirmacion(usuario.id)">Eliminar</button>
            <div *ngIf="mostrarTooltip && usuarioAEliminar === usuario.id" class="tooltip-overlay">
              <div class="tooltip-confirmacion">
                <span>¿Estás seguro?</span>
                <button (click)="confirmarEliminarUsuario()">Sí</button>
                <button (click)="cancelarEliminarUsuario()">No</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>