<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

  <div class="announcement-bar">
    <div class="announcement-track">
      <span *ngFor="let oferta of ofertas; let i = index" [style.animation-delay]="(i * 4) + 's'">
        {{ oferta }}
      </span>
    </div>
  </div>
    <nav class="navbar">
    <div class="navbar-container navbar-column">
      <a href="/" class="navbar-logo">
        UAVDOCX
      </a>
      <div class="navbar-menu">
    <a href="/">Inicio</a>
    <a href="/productos">Productos</a>
    <a [routerLink]="usuarioLogueado ? '/usuario' : '/login'">Sesion</a>
    <div *ngIf="esAdminUsuario" class="dropdown">
      <a class="navbar-link dropdown-btn">Admin</a>
      <div class="dropdown-content">
        <a href="./usuarios">Usuarios</a>
        <a href="./reclamos">Reclamos</a>
        <a href="./abm">Prendas</a>
        <a href="./compras">Compras</a>
      </div>
    </div>
  </div>
      <div class="logos">
        <a href="/carrito" class="material-symbols-outlined">shopping_cart</a>
        <a href="/usuario" class="material-symbols-outlined">person</a>
        <a href="/reclamo" class="material-symbols-outlined">sentiment_extremely_dissatisfied</a>
        <a href="/local" class="material-symbols-outlined">store</a>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <div>
        <p class="titulo-footer">AYUDA</p>
        <p>Preguntas Frecuentes</p>
        <p>Política de Privacidad</p>
        <p>Terminos y Condiciones</p>
      </div>
      <div>
        <p class="titulo-footer">UAVDOCX</p>
        <p>Inicio</p>
        <p>Local</p>
      </div>
      <div>
        <p class="titulo-footer">CONTACTO</p>
        <p>+54 9 11 2894-6160</p>
        <p>uavdocx.gmail.com</p>
        <p>Provincia de Buenos Aires</p>
      </div>
    </div>
      <span class="footer-text">© 2025 UAVDOCX. Todos los derechos reservados.</span>
  </div>
</footer>

