<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

  <div class="announcement-bar">
    <div class="announcement-track">
      <span *ngFor="let oferta of ofertas">{{ oferta }}</span>
      <span *ngFor="let oferta of ofertas">{{ oferta }}</span>
    </div>
  </div>
    <nav class="navbar">
    <div class="navbar-container navbar-column">
      <a [routerLink]="['/']" class="navbar-logo">
        UAVDOCX
      </a>
      <div class="navbar-menu">
  <a [routerLink]="['/']">Inicio</a>
  <a [routerLink]="['/productos']">Productos</a>
  <a [routerLink]="[usuarioLogueado ? '/usuario' : '/login']">Sesion</a>
    <div *ngIf="esAdminUsuario" class="dropdown">
      <a class="navbar-link dropdown-btn">Admin</a>
      <div class="dropdown-content">
  <a [routerLink]="['/usuarios']">Usuarios</a>
  <a [routerLink]="['/reclamos']">Reclamos</a>
  <a [routerLink]="['/abm']">Prendas</a>
  <a [routerLink]="['/compras']">Compras</a>
      </div>
    </div>
  </div>
      <div class="logos">
  <a [routerLink]="['/carrito']" class="material-symbols-outlined">shopping_cart</a>
  <a [routerLink]="['/usuario']" class="material-symbols-outlined">person</a>
  <a [routerLink]="['/reclamo']" class="material-symbols-outlined">sentiment_extremely_dissatisfied</a>
  <a [routerLink]="['/local']" class="material-symbols-outlined">store</a>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <div>
        <p class="titulo-footer">AYUDA</p>
        <p>Preguntas Frecuentes</p>
        <p>Política de Privacidad</p>
        <p>Terminos y Condiciones</p>
      </div>
      <div>
        <p class="titulo-footer">UAVDOCX</p>
        <p>Inicio</p>
        <p>Local</p>
      </div>
      <div>
        <p class="titulo-footer">CONTACTO</p>
        <p>+54 9 11 2894-6160</p>
        <p>uavdocx.gmail.com</p>
        <p>Provincia de Buenos Aires</p>
      </div>
    </div>
      <span class="footer-text">© 2025 UAVDOCX. Algunos derechos reservados.</span>
  </div>
</footer>

