<link rel="stylesheet" href="../navbar-global.css" />
<link rel="stylesheet" href="login.component.css">

<nav class="navbar">
  <div class="navbar-container" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <a href="/" class="navbar-logo" style="margin-left:0; text-align:left;">UAVDOCX</a>
    <div class="navbar-menu">
      <a href="/">Inicio</a>
      <a href="/productos">Productos</a>
      <a [routerLink]="usuarioLogueado ? '/usuario' : '/login'">Sesion</a>
      <div *ngIf="esAdminUsuario" class="dropdown">
        <a class="navbar-link dropdown-btn">Admin</a>
        <div class="dropdown-content">
          <a href="./usuarios">Usuarios</a>
          <a href="./reclamos">Reclamos</a>
          <a href="./abm">Prendas</a>
        </div>
      </div>
    </div>
    <div class="logos">
      <a href="/carrito" class="material-symbols-outlined">shopping_cart</a>
      <a href="/usuario" class="material-symbols-outlined">person</a>
      <a href="/reclamo" class="material-symbols-outlined">sentiment_extremely_dissatisfied</a>
      <a href="/local" class="material-symbols-outlined">store</a>
    </div>
  </div>
</nav>

<div id="registroBox" >
  <form class="form" (ngSubmit)="ingresar()">
    <h2 style="margin-bottom: 10px;">Log In</h2>
    <span class="input-span">
      <label for="usuario" class="label">Usuario</label>
      <input
        type="text"
        id="usuario"
        [(ngModel)]="usuario_ingreso"
        name="usuario_ingreso"
        placeholder="Usuario"
        required
      />
    </span>
    <span class="input-span">
      <label for="password" class="label">Contraseña</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="pass_ingreso"
        name="pass_ingreso"
        placeholder="Contraseña"
        required
      />
    </span>
    <span class="span">
      <a href="/sesion">¿Olvidaste tu contraseña?</a>
    </span>
    <input class="submit" type="submit" value="Ingresar" />
    <span class="span">
      ¿No tenes cuenta?
      <a href="/sesion">Registrate</a>
    </span>
  </form>
</div>