<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<nav class="navbar">
  <div class="navbar-container" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
    <a href="/" class="navbar-logo" style="margin-left:0; text-align:left;">UAVDOCX</a>
    
    <div class="navbar-menu">
      <a href="/">Inicio</a>
      <a href="/productos">Productos</a>
      <a [routerLink]="usuarioLogueado ? '/usuario' : '/login'">Sesion</a>
      <div *ngIf="esAdminUsuario" class="dropdown">
        <a class="navbar-link dropdown-btn">Admin</a>
        <div class="dropdown-content">
          <a href="./usuarios">Usuarios</a>
          <a href="./reclamos">Reclamos</a>
          <a href="./abm">Prendas</a>
        </div>
      </div>
    </div>
    <div class="logos">
      <a href="/carrito" class="material-symbols-outlined">shopping_cart</a>
      <a href="/usuario" class="material-symbols-outlined">person</a>
      <a href="/reclamo" class="material-symbols-outlined">sentiment_extremely_dissatisfied</a>
      <a href="/local" class="material-symbols-outlined">store</a>
    </div>
  </div>
</nav>


<h1>Reclamo</h1>

<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="exito" class="exito">{{ exito }}</div>


<form (ngSubmit)="agregarReclamo()" #reclamoForm="ngForm">
		<div>
			<label>Usuario:</label>
			<span>{{ usuarioNombre }}</span>
		</div>
		
	<div>
		<label>Descripción:</label>
		<input type="text" [(ngModel)]="nuevoReclamo.descripcion" name="descripcion" required>
	</div>
	<div>
		<label>Tipo:</label>
		<select [(ngModel)]="nuevoReclamo.tipo" name="tipo" required>
			<option *ngFor="let t of tipoOptions" [value]="t">{{ t }}</option>
		</select>
	</div>
		<div>
			<label>Estado:</label>
			<span>{{ nuevoReclamo.estado }}</span>
		</div>
	<button type="submit" [disabled]="cargando">Enviar Reclamo</button>
</form>

