<div *ngIf="!esAdminUsuario">
  <h2 style="color: red;">No, solo los administradores pueden acceder a esta sección.</h2>
</div>
<div *ngIf="esAdminUsuario">
  
  <h1>Reclamos</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ID Usuario</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Fecha Creación</th>
        <th>Fecha Resolución</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamo of reclamos">
        <td>{{ reclamo.id }}</td>
        <td>{{ reclamo.idUsuario }}</td>
        <td>{{ reclamo.tipo }}</td>
        <td>{{ reclamo.descripcion }}</td>
        <td>{{ reclamo.fecha_creacion | date:'short' }}</td>
        <td>
          <span *ngIf="reclamo.fecha_resolucion">{{ reclamo.fecha_resolucion | date:'short' }}</span>
          <input *ngIf="!reclamo.fecha_resolucion" type="datetime-local" [(ngModel)]="reclamo.fecha_resolucion" />
        </td>
        <td>
          <select [(ngModel)]="reclamo.estado">
            <option value="PENDIENTE">PENDIENTE</option>
            <option value="EN_PROCESO">EN_PROCESO</option>
            <option value="RESUELTO">RESUELTO</option>
            <option value="CERRADO">CERRADO</option>
          </select>
        </td>
        <td>
          <button (click)="modificarReclamo(reclamo)">Modificar</button>
          <button (click)="eliminarReclamo(reclamo.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>